# Step 1: Data Collection & Setup

In [3]:
# Import necessary libraries
import pandas as pd

## A. Grocery Market Data

In [5]:
# Create a dataframe from the USDA AMS 
usda_ams_retail_df = pd.read_csv('MNRetailDatasetCSV.CSV')

/var/folders/zf/cb3_1h9969d8z3n17n7d956r0000gn/T/ipykernel_91954/1965700471.py:1: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  usda_ams_retail_df = pd.read_csv('MNRetailDatasetCSV.CSV')

In [8]:
# Get an overview of the df with a .head()
usda_ams_retail_df.head(5)

,LEVEL_OF_TRADE,FREQUENCY,ISSUING_OFFICE,REPORT_DATE,PROGRAM,LEVEL_1,LEVEL_2,LEVEL_3,LEVEL_4,LEVEL_5,...,STORES_WITH_ADS,STORE_OUTLETS,FEATURE_RATE,SPECIAL_RATE,ACTIVITY_INDEX,LOCALLY_GROWN_PERCENTAGE,WEIGHTED_AVERAGE_PRICE,PRICE_LOW,PRICE_HIGH,PRODUCT_QUALITY
0,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
1,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,5500.0,1.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,NaN,NaN,65.0,NaN,NaN,NaN,NaN,NaN
3,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,LIQUID,NaN,NaN,...,NaN,29200.0,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,RETAIL,WEEKLY,"DES MOINES, IA",30-AUG-24,POULTRY,EGGS,NaN,SHELL,ALL SHELL,NaN,...,NaN,100.0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Get more detail on what columns are in the df
usda_ams_retail_df.columns

Index(['LEVEL_OF_TRADE', 'FREQUENCY', 'ISSUING_OFFICE', 'REPORT_DATE',
       'PROGRAM', 'LEVEL_1', 'LEVEL_2', 'LEVEL_3', 'LEVEL_4', 'LEVEL_5',
       'ORGANIC', 'SPECIALTY', 'UNIT', 'REGION', 'STORES_WITH_ADS',
       'STORE_OUTLETS', 'FEATURE_RATE', 'SPECIAL_RATE', 'ACTIVITY_INDEX',
       'LOCALLY_GROWN_PERCENTAGE', 'WEIGHTED_AVERAGE_PRICE', 'PRICE_LOW',
       'PRICE_HIGH', 'PRODUCT_QUALITY'],
      dtype='object')

In [12]:
# I'm seeing a lot of NaNs.  What % of each column is NaN?
nan_percentage = usda_ams_retail_df.isna().sum() / len(usda_ams_retail_df) * 100
print(nan_percentage)

LEVEL_OF_TRADE               0.000000
FREQUENCY                    0.000000
ISSUING_OFFICE               0.000000
REPORT_DATE                  0.000000
PROGRAM                      0.000000
LEVEL_1                      0.097223
LEVEL_2                      8.058644
LEVEL_3                     66.054698
LEVEL_4                     66.778009
LEVEL_5                     87.909288
ORGANIC                     56.398690
SPECIALTY                   58.290505
UNIT                        11.750140
REGION                       0.000000
STORES_WITH_ADS             11.854112
STORE_OUTLETS               88.249860
FEATURE_RATE                93.781300
SPECIAL_RATE                97.072425
ACTIVITY_INDEX              93.617837
LOCALLY_GROWN_PERCENTAGE    99.917057
WEIGHTED_AVERAGE_PRICE      11.750159
PRICE_LOW                   33.093714
PRICE_HIGH                  33.048509
PRODUCT_QUALITY             44.232302
dtype: float64

### Takeaways:
* This dataset appears to have the requisite raw data. 
* This dataset is large, but it will benefit from dropping unncessary columns and filtering out rows with empty values.