# Step 2b: Data Cleaning, Pt. 3

At this point, I am working with the following datasets: 
1) For Grocery Market Data: The U.S. Department of Agriculture Agricultural Marketing Service's (AMS) [Market News Report](https://marketnews.usda.gov/mnp/dataDownload"), cleaned and filtered to just 2023 data. 
2) For Inflation Trend Data: The Bureau of Labor Statistics' Consumer Price Index (CPI) for [All Urban Consumers](https://www.bls.gov/cpi/tables/supplemental-files/), cleaned and filtered to just 2023 data.
3) For Verified Grocery Sales Data: The [Costco dataset](https://www.kaggle.com/datasets/bhavikjikadara/grocery-store-dataset) from Kaggle, which reported 2023 data, cleaned. 
4) For Regional & Demographic Data: I have switched from the[U.S. Census Dataset : Education, Finance, Industry](https://www.kaggle.com/datasets/mittvin/u-s-census-dataset-education-finance-industry) from Kaggle, which reported 2019-2020 data, to the U.S. Census dataset from the [Population Estimate Program (PEP)](https://www.census.gov/data/datasets/time-series/demo/popest/2020s-national-total.html), which reports 2020-2025 data and is therefore more useful to this analyis.  I may still try to incorporate education, finance, and industry data, though, if possible.

I am going begin this portion of the cleaning and preparation process by looking at the dataset that handles product names the most usefully: The Bureau of Labor Statistics' Consumer Price Index (CPI) for [All Urban Consumers](https://www.bls.gov/cpi/tables/supplemental-files/).  I am going to see if I can get a reasonable list of proudcts to find comparables to in the other datasets.  The product column in each dataset, then, can be used as a foreign key from which to generate deeper insights by relating tables.

In [2]:
# import libraries

import pandas as pd
pd.set_option('display.max_rows', None)

import re

## A. Inflation Trend Data

In [3]:
# import cleaned BLS CPI dataset

bls_df = pd.read_csv('cleaned_bls_cpi_data.csv')

bls_df.head()

,product,unadjusted_percent_change_2023,seasonally_adjusted_effect_2023,unadjusted_effect_2023
0,All items,3.4,NaN,NaN
1,Food,2.7,0.028,0.366
2,Food at home,1.3,0.012,0.114
3,Cereals and bakery products,2.6,-0.003,0.030
4,Cereals and cereal products,0.4,-0.005,0.001

In [4]:
# How many unique products are listed?

bls_df['product'].nunique()

402

In [5]:
# Are there any duplicates? 

duplicates = bls_df[bls_df.duplicated(subset=['product'])]

print(duplicates)

# No duplicates

Empty DataFrame
Columns: [product, unadjusted_percent_change_2023, seasonally_adjusted_effect_2023, unadjusted_effect_2023]
Index: []

In [6]:
# I need to get my head around which products to keep and which to cut.
# What's the full list of products contained in this dataset? 

product_list = bls_df['product'].tolist()

print(product_list)

# It appears there's a lot of non-food items in this dataset.  Need to get those out.

['All items', 'Food', 'Food at home', 'Cereals and bakery products', 'Cereals and cereal products', 'Flour and prepared flour mixes', 'Breakfast cereal(4)', 'Rice, pasta, cornmeal', 'Rice(4)(5)(6)', 'Bakery products(4)', 'Bread(4)(5)', 'White bread(4)(6)', 'Bread other than white(4)(6)', 'Fresh biscuits, rolls, muffins(5)', 'Cakes, cupcakes, and cookies(4)', 'Cookies(4)(6)', 'Fresh cakes and cupcakes(4)(6)', 'Other bakery products', 'Fresh sweetrolls, coffeecakes, doughnuts(4)(6)', 'Crackers, bread, and cracker products(6)', 'Frozen and refrigerated bakery products, pies, tarts, turnovers(6)', 'Meats, poultry, fish, and eggs', 'Meats, poultry, and fish', 'Meats', 'Beef and veal', 'Uncooked ground beef(4)', 'Uncooked beef roasts(5)', 'Uncooked beef steaks(5)', 'Uncooked other beef and veal(4)(5)', 'Pork', 'Bacon, breakfast sausage, and related products(5)', 'Bacon and related products(6)', 'Breakfast sausage and related products(5)(6)', 'Ham', 'Ham, excluding canned(6)', 'Pork chops(4)', 'Other pork including roasts, steaks, and ribs(5)', 'Other meats', 'Frankfurters(6)', 'Lunchmeats(4)(5)(6)', 'Poultry(4)', 'Chicken(4)(5)', 'Fresh whole chicken(4)(6)', 'Fresh and frozen chicken parts(4)(6)', 'Other uncooked poultry including turkey(5)', 'Fish and seafood', 'Fresh fish and seafood(4)(5)', 'Processed fish and seafood(5)', 'Shelf stable fish and seafood(6)', 'Frozen fish and seafood(6)', 'Eggs(4)', 'Dairy and related products', 'Milk(5)', 'Fresh whole milk(6)', 'Fresh milk other than whole(5)(6)', 'Cheese and related products(4)', 'Ice cream and related products', 'Other dairy and related products(5)', 'Fruits and vegetables', 'Fresh fruits and vegetables', 'Fresh fruits', 'Apples', 'Bananas(4)', 'Citrus fruits(5)', 'Oranges, including tangerines(6)', 'Other fresh fruits(5)', 'Fresh vegetables', 'Potatoes', 'Lettuce', 'Tomatoes', 'Other fresh vegetables', 'Processed fruits and vegetables(5)', 'Canned fruits and vegetables(5)', 'Canned fruits(5)(6)', 'Canned vegetables(5)(6)', 'Frozen fruits and vegetables(5)', 'Frozen vegetables(6)', 'Other processed fruits and vegetables including dried(5)', 'Dried beans, peas, and lentils(4)(5)(6)', 'Nonalcoholic beverages and beverage materials', 'Juices and nonalcoholic drinks(5)', 'Carbonated drinks', 'Frozen noncarbonated juices and drinks(4)(5)', 'Nonfrozen noncarbonated juices and drinks(5)', 'Beverage materials including coffee and tea(5)', 'Coffee', 'Roasted coffee(6)', 'Instant coffee(4)(6)', 'Other beverage materials including tea(4)(5)', 'Other food at home', 'Sugar and sweets(4)', 'Sugar and sugar substitutes', 'Candy and chewing gum(4)(5)', 'Other sweets(5)', 'Fats and oils', 'Butter and margarine(5)', 'Butter(6)', 'Margarine(4)(6)', 'Salad dressing(5)', 'Other fats and oils including peanut butter(5)', 'Peanut butter(4)(5)(6)', 'Other foods', 'Soups', 'Frozen and freeze dried prepared foods', 'Snacks', 'Spices, seasonings, condiments, sauces', 'Salt and other seasonings and spices(5)(6)', 'Olives, pickles, relishes(4)(5)(6)', 'Sauces and gravies(5)(6)', 'Other condiments(6)', 'Baby food and formula(4)(5)', 'Other miscellaneous foods(5)', 'Prepared salads(6)(7)', 'Food away from home(4)', 'Full service meals and snacks(4)(5)', 'Limited service meals and snacks(4)(5)', 'Food at employee sites and schools(4)(5)', 'Food at elementary and secondary schools(4)(6)(8)', 'Food from vending machines and mobile vendors(4)(5)', 'Other food away from home(4)(5)', 'Energy', 'Energy commodities', 'Fuel oil and other fuels', 'Fuel oil(4)', 'Propane, kerosene, and firewood(9)', 'Motor fuel', 'Gasoline (all types)', 'Gasoline, unleaded regular(6)', 'Gasoline, unleaded midgrade(6)(10)', 'Gasoline, unleaded premium(6)', 'Other motor fuels(4)(5)', 'Energy services', 'Electricity', 'Utility (piped) gas service', 'All items less food and energy', 'Commodities less food and energy commodities', 'Household furnishings and supplies(11)', 'Window and floor coverings and other linens(5)', 'Floor coverings(4)(5)', 'Window coverings(4)(5)', 'Other linens(5)', 'Furniture and bedding(4)', 'Bedroom furniture(4)', 'Living room, kitchen, and dining room furniture(4)(5)', 'Other furniture(5)', 'Appliances(5)', 'Major appliances(5)', 'Laundry equipment(4)(6)', 'Other appliances(4)(5)', 'Other household equipment and furnishings(5)', 'Clocks, lamps, and decorator items(4)', 'Indoor plants and flowers(12)', 'Dishes and flatware(4)(5)', 'Nonelectric cookware and tableware(5)', 'Tools, hardware, outdoor equipment and supplies(5)', 'Tools, hardware and supplies(5)', 'Outdoor equipment and supplies(5)', 'Housekeeping supplies(4)', 'Household cleaning products(4)(5)', 'Household paper products(4)(5)', 'Miscellaneous household products(4)(5)', 'Apparel', "Men's and boys' apparel", "Men's apparel", "Men's suits, sport coats, and outerwear", "Men's underwear, nightwear, swimwear, and accessories(4)", "Men's shirts and sweaters(5)", "Men's pants and shorts", "Boys' apparel", "Women's and girls' apparel", "Women's apparel", "Women's outerwear", "Women's dresses", "Women's suits and separates(5)", "Women's underwear, nightwear, swimwear, and accessories(5)", "Girls' apparel", 'Footwear', "Men's footwear(4)", "Boys' and girls' footwear", "Women's footwear", "Infants' and toddlers' apparel", 'Jewelry and watches(9)', 'Watches(4)(9)', 'Jewelry(9)', 'Transportation commodities less motor fuel(11)', 'New vehicles', 'New cars(6)', 'New trucks(6)(13)', 'Used cars and trucks', 'Motor vehicle parts and equipment(4)', 'Tires(4)', 'Vehicle accessories other than tires(4)(5)', 'Vehicle parts and equipment other than tires(4)(6)', 'Motor oil, coolant, and fluids(4)(6)', 'Medical care commodities(4)', 'Medicinal drugs(4)(11)', 'Prescription drugs(4)', 'Nonprescription drugs(4)(11)', 'Medical equipment and supplies(4)(11)', 'Recreation commodities(11)', 'Video and audio products(11)', 'Televisions', 'Other video equipment(5)', 'Audio equipment(4)', 'Recorded music and music subscriptions(4)(5)', 'Pets and pet products(4)', 'Pet food(4)(5)(6)', 'Purchase of pets, pet supplies, accessories(4)(5)(6)', 'Sporting goods(4)', 'Sports vehicles including bicycles(4)', 'Sports equipment(4)', 'Photographic equipment and supplies', 'Photographic equipment(5)(6)', 'Recreational reading materials(4)', 'Newspapers and magazines(4)(5)', 'Recreational books(4)(5)', 'Other recreational goods(5)', 'Toys', 'Toys, games, hobbies and playground equipment(5)(6)', 'Sewing machines, fabric and supplies(4)(5)', 'Music instruments and accessories(4)(5)', 'Education and communication commodities(11)', 'Educational books and supplies(4)', 'College textbooks(4)(6)(14)', 'Information technology commodities(11)', 'Computers, peripherals, and smart home assistants(4)(7)', 'Computer software and accessories(4)(5)', 'Telephone hardware, calculators, and other consumer information items(4)(5)', 'Smartphones(4)(6)(15)', 'Alcoholic beverages', 'Alcoholic beverages at home', 'Beer, ale, and other malt beverages at home', 'Distilled spirits at home(4)', 'Whiskey at home(4)(6)', 'Distilled spirits, excluding whiskey, at home(4)(6)', 'Wine at home(4)', 'Alcoholic beverages away from home(4)', 'Beer, ale, and other malt beverages away from home(4)(5)(6)', 'Wine away from home(4)(5)(6)', 'Distilled spirits away from home(4)(5)(6)', 'Other goods(11)', 'Tobacco and smoking products(4)', 'Cigarettes(4)(5)', 'Tobacco products other than cigarettes(4)(5)', 'Personal care products(4)', 'Hair, dental, shaving, and miscellaneous personal care products(4)(5)', 'Cosmetics, perfume, bath, nail preparations and implements(4)', 'Miscellaneous personal goods(4)(5)', 'Stationery, stationery supplies, gift wrap(6)', 'Services less energy services', 'Shelter', 'Rent of shelter(16)', 'Rent of primary residence', 'Lodging away from home(5)', 'Housing at school, excluding board(16)', 'Other lodging away from home including hotels and motels', "Owners' equivalent rent of residences(16)", "Owners' equivalent rent of primary residence(16)", "Tenants' and household insurance(4)(5)", 'Water and sewer and trash collection services(5)', 'Water and sewerage maintenance', 'Garbage and trash collection(4)(13)', 'Household operations(4)(5)', 'Domestic services(4)(5)', 'Gardening and lawncare services(4)(5)', 'Moving, storage, freight expense(4)(5)', 'Repair of household items(4)(5)', 'Medical care services', 'Professional services', "Physicians' services(4)", 'Dental services', 'Eyeglasses and eye care(4)(9)', 'Services by other medical professionals(4)(9)', 'Hospital and related services(4)', 'Hospital services(4)(17)', 'Inpatient hospital services(4)(6)(17)', 'Outpatient hospital services(4)(6)(9)', 'Nursing homes and adult day services(17)', 'Care of invalids and elderly at home(4)(8)', 'Health insurance(4)(8)', 'Transportation services', 'Leased cars and trucks(4)(14)', 'Car and truck rental(5)', 'Motor vehicle maintenance and repair(4)', 'Motor vehicle body work(4)', 'Motor vehicle maintenance and servicing(4)', 'Motor vehicle repair(4)(5)', 'Motor vehicle insurance', 'Motor vehicle fees(4)(5)', 'State motor vehicle registration and license fees(4)(5)', 'Parking and other fees(4)(5)', 'Parking fees and tolls(5)(6)', 'Public transportation', 'Airline fares', 'Other intercity transportation', 'Ship fare(4)(5)(6)', 'Intracity transportation(4)', 'Intracity mass transit(4)(6)(11)', 'Recreation services(11)', 'Video and audio services(11)', 'Cable, satellite, and live streaming television service(13)', 'Purchase, subscription, and rental of video(4)(5)', 'Video discs and other media(4)(5)(6)', 'Subscription and rental of video and video games(4)(5)(6)', 'Pet services including veterinary(5)', 'Pet services(4)(5)(6)', 'Veterinarian services(5)(6)', 'Photographers and photo processing(4)(5)', 'Other recreation services(5)', 'Club membership for shopping clubs, fraternal, or other organizations, or participant sports fees(4)(5)', 'Admissions(4)', 'Admission to movies, theaters, and concerts(4)(5)(6)', 'Admission to sporting events(4)(5)(6)', 'Fees for lessons or instructions(4)(9)', 'Education and communication services(11)', 'Tuition, other school fees, and childcare', 'College tuition and fees', 'Elementary and high school tuition and fees', 'Day care and preschool(12)', 'Technical and business school tuition and fees(4)(5)', 'Postage and delivery services(5)', 'Postage', 'Delivery services(5)', 'Telephone services(4)(5)', 'Wireless telephone services(4)(5)', 'Residential telephone services(4)(11)', 'Internet services and electronic information providers(4)(5)', 'Other personal services(4)(11)', 'Personal care services(4)', 'Haircuts and other personal care services(4)(5)', 'Miscellaneous personal services(4)', 'Legal services(4)(9)', 'Funeral expenses(4)(9)', 'Laundry and dry cleaning services(4)(5)', 'Apparel services other than laundry and dry cleaning(4)(5)', 'Financial services(4)(9)', 'Checking account and other bank services(4)(5)(6)', 'Tax return preparation and other accounting fees(4)(5)(6)', 'Special aggregate indexes', 'All items less food', 'All items less shelter', 'All items less food and shelter', 'All items less food, shelter, and energy', 'All items less food, shelter, energy, and used cars and trucks', 'All items less medical care', 'All items less energy', 'Commodities', 'Commodities less food, energy, and used cars and trucks', 'Commodities less food', 'Commodities less food and beverages', 'Services', 'Services less rent of shelter(16)', 'Services less medical care services', 'Durables', 'Nondurables', 'Nondurables less food', 'Nondurables less food and beverages', 'Nondurables less food, beverages, and apparel', 'Nondurables less food and apparel', 'Housing', 'Education and communication(5)', 'Education(5)', 'Communication(5)', 'Information and information processing(5)', 'Information technology, hardware and services(18)', 'Recreation(5)', 'Video and audio(5)', 'Pets, pet products and services(5)', 'Photography(5)', 'Food and beverages', 'Domestically produced farm food(4)', 'Other services', 'Apparel less footwear', 'Fuels and utilities', 'Household energy', 'Medical care', 'Transportation', 'Private transportation', 'New and used motor vehicles(5)', 'Utilities and public transportation', 'Household furnishings and operations', 'Other goods and services', 'Personal care(4)', 'Footnotes:', "(1) The 'effect' of an item category is a measure of that item's contribution to the All items price change. For example, if the Food index had an effect of 0.40, and the All items index rose 1.2 percent, then the increase in food prices contributed 0.40 / 1.2, or 33.3 percent, to that All items increase.  Said another way, had food prices been unchanged for that month, or year, the change in the All items index would have been 1.2 percent minus 0.40, or 0.8 percent.  Effects can be negative as well.  For example, if the effect of food was a negative 0.1, and the All items index rose 0.5 percent, the All items index actually would have been 0.1 percent higher (or 0.6 percent) had food prices been unchanged.  Since food prices fell while prices overall were rising, the contribution of food to the All items price change was negative (in this case, -0.1 / 0.5, or minus 20 percent).", "(2) A statistic's margin of error is often expressed as its point estimate plus or minus two standard errors.  For example, if a CPI category rose 0.6 percent, and its standard error was 0.15 percent, the margin of error on this item's 1-month percent change would be 0.6 percent, plus or minus 0.3 percent.  If a 12-month percent change rose 2.6 percent, and its standard error was 0.25 percent, the margin of error on this item's 12-month percent change would be 2.6 percent, plus or minus 0.5 percent.", '(3) If the current seasonally adjusted 1-month percent change is greater than the previous published 1-month percent change, then this column identifies the closest prior month with a 1-month percent change as (L)arge as or (L)arger than the current 1-month change.  If the current 1-month percent change is smaller than the previous published 1-month percent change, the most recent month with a change as (S)mall or (S)maller than the current month change is identified.  If the current and previous published 1-month percent changes are equal, a dash will appear.  Standard numerical comparisons are used.  For example, 0.8% is greater than 0.6%, -0.4% is less than -0.2%, and -0.2% is less than 0.0%.  Note that a (L)arger change can be a smaller decline, for example, a -0.2% change is larger than a -0.4% change, but still represents a decline in the price index.  Likewise, (S)maller changes can be increases, for example, a 0.6% change is smaller than 0.8%, but still represents an increase in the price index.  In this context, a -0.2% change is considered to be smaller than a 0.0% change.  The same comparison is done for the 12-month percent change.', '(4) Not seasonally adjusted.', '(5) Indexes on a December 1997=100 base.', '(6) Special indexes based on a substantially smaller sample.  These series do not contribute to the all items index aggregation and therefore do not have a relative importance or effect.', '(7) Indexes on a December 2007=100 base.', '(8) Indexes on a December 2005=100 base.', '(9) Indexes on a December 1986=100 base.', '(10) Indexes on a December 1993=100 base.', '(11) Indexes on a December 2009=100 base.', '(12) Indexes on a December 1990=100 base.', '(13) Indexes on a December 1983=100 base.', '(14) Indexes on a December 2001=100 base.', '(15) Indexes on a December 2019=100 base.', '(16) Indexes on a December 1982=100 base.', '(17) Indexes on a December 1996=100 base.', '(18) Indexes on a December 1988=100 base.']

In [7]:
bls_df

# Row 119 is the last one with food-related data.  Slice everything else out.

bls_df = bls_df[:119]

bls_df

,product,unadjusted_percent_change_2023,seasonally_adjusted_effect_2023,unadjusted_effect_2023
0,All items,3.4,NaN,NaN
1,Food,2.7,0.028,0.366
2,Food at home,1.3,0.012,0.114
3,Cereals and bakery products,2.6,-0.003,0.030
4,Cereals and cereal products,0.4,-0.005,0.001
5,Flour and prepared flour mixes,2.2,0.000,0.001
6,Breakfast cereal(4),0.3,-0.004,0.000
7,"Rice, pasta, cornmeal",-0.3,0.000,0.000
8,Rice(4)(5)(6),0.1,NaN,NaN
9,Bakery products(4),3.6,-0.003,0.028
10,Bread(4)(5),3.1,-0.001,0.007
11,White bread(4)(6),2.7,NaN,NaN
12,Bread other than white(4)(6),3.6,NaN,NaN
13,"Fresh biscuits, rolls, muffins(5)",4.1,-0.002,0.005
14,"Cakes, cupcakes, and cookies(4)",2.6,0.000,0.005
15,Cookies(4)(6),2.7,NaN,NaN
16,Fresh cakes and cupcakes(4)(6),3.8,NaN,NaN
17,Other bakery products,4.4,0.001,0.011
18,"Fresh sweetrolls, coffeecakes, doughnuts(4)(6)",3.1,NaN,NaN
19,"Crackers, bread, and cracker products(6)",7.7,NaN,NaN
20,"Frozen and refrigerated bakery products, pies,...",2.3,NaN,NaN
21,"Meats, poultry, fish, and eggs",-0.1,0.010,-0.002
22,"Meats, poultry, and fish",2.3,0.000,0.038
23,Meats,3.6,0.002,0.038
24,Beef and veal,8.7,0.001,0.038
25,Uncooked ground beef(4),6.7,-0.001,0.011
26,Uncooked beef roasts(5),8.9,-0.001,0.005
27,Uncooked beef steaks(5),11.2,0.005,0.020
28,Uncooked other beef and veal(4)(5),5.6,-0.001,0.002
29,Pork,0.1,0.001,0.000
30,"Bacon, breakfast sausage, and related products(5)",-0.8,0.000,-0.001
31,Bacon and related products(6),1.6,NaN,NaN
32,Breakfast sausage and related products(5)(6),-3.7,NaN,NaN
33,Ham,2.5,0.002,0.002
34,"Ham, excluding canned(6)",2.5,NaN,NaN
35,Pork chops(4),-0.4,0.000,0.000
36,"Other pork including roasts, steaks, and ribs(5)",-0.1,0.000,0.000
37,Other meats,-0.2,0.000,0.000
38,Frankfurters(6),2.2,NaN,NaN
39,Lunchmeats(4)(5)(6),0.3,NaN,NaN
40,Poultry(4),1.2,-0.001,0.004
41,Chicken(4)(5),0.7,0.000,0.002
42,Fresh whole chicken(4)(6),3.1,NaN,NaN
43,Fresh and frozen chicken parts(4)(6),0.0,NaN,NaN
44,Other uncooked poultry including turkey(5),3.3,-0.001,0.002
45,Fish and seafood,-1.4,-0.001,-0.004
46,Fresh fish and seafood(4)(5),-2.5,-0.001,-0.004
47,Processed fish and seafood(5),-0.5,0.000,-0.001
48,Shelf stable fish and seafood(6),3.8,NaN,NaN
49,Frozen fish and seafood(6),-2.8,NaN,NaN
50,Eggs(4),-23.8,0.010,-0.040
51,Dairy and related products,-1.3,0.002,-0.011
52,Milk(5),-1.8,0.001,-0.004
53,Fresh whole milk(6),-2.3,NaN,NaN
54,Fresh milk other than whole(5)(6),-1.4,NaN,NaN
55,Cheese and related products(4),-3.3,0.000,-0.008
56,Ice cream and related products,2.8,0.001,0.003
57,Other dairy and related products(5),-0.8,0.000,-0.002
58,Fruits and vegetables,0.3,-0.002,0.005
59,Fresh fruits and vegetables,-0.5,-0.005,-0.005
60,Fresh fruits,3.6,0.002,0.021
61,Apples,-5.9,0.000,-0.005
62,Bananas(4),1.0,0.000,0.001
63,Citrus fruits(5),5.4,0.001,0.009
64,"Oranges, including tangerines(6)",5.3,NaN,NaN
65,Other fresh fruits(5),6.4,0.004,0.016
66,Fresh vegetables,-4.8,-0.007,-0.026
67,Potatoes,-2.8,-0.003,-0.002
68,Lettuce,-16.7,-0.003,-0.014
69,Tomatoes,-7.2,0.000,-0.007
70,Other fresh vegetables,-1.0,0.000,-0.003
71,Processed fruits and vegetables(5),2.7,0.004,0.010
72,Canned fruits and vegetables(5),2.4,0.003,0.005
73,Canned fruits(5)(6),2.4,NaN,NaN
74,Canned vegetables(5)(6),2.1,NaN,NaN
75,Frozen fruits and vegetables(5),3.9,0.001,0.004
76,Frozen vegetables(6),6.1,NaN,NaN
77,Other processed fruits and vegetables includin...,1.7,0.000,0.001
78,"Dried beans, peas, and lentils(4)(5)(6)",-1.5,NaN,NaN
79,Nonalcoholic beverages and beverage materials,2.6,0.002,0.027
80,Juices and nonalcoholic drinks(5),3.6,0.004,0.027
81,Carbonated drinks,2.9,0.002,0.009
82,Frozen noncarbonated juices and drinks(4)(5),19.1,0.000,0.002
83,Nonfrozen noncarbonated juices and drinks(5),3.9,0.001,0.016
84,Beverage materials including coffee and tea(5),0.3,-0.002,0.001
85,Coffee,-1.6,-0.002,-0.003
86,Roasted coffee(6),-2.0,NaN,NaN
87,Instant coffee(4)(6),-0.5,NaN,NaN
88,Other beverage materials including tea(4)(5),3.7,0.000,0.004
89,Other food at home,2.8,0.003,0.065
90,Sugar and sweets(4),5.2,0.001,0.016
91,Sugar and sugar substitutes,6.9,0.000,0.003
92,Candy and chewing gum(4)(5),5.5,0.001,0.011
93,Other sweets(5),3.4,0.000,0.002
94,Fats and oils,2.3,0.002,0.006
95,Butter and margarine(5),-2.8,0.000,-0.002
96,Butter(6),-2.9,NaN,NaN
97,Margarine(4)(6),-1.8,NaN,NaN
98,Salad dressing(5),3.0,0.000,0.002
99,Other fats and oils including peanut butter(5),5.8,0.003,0.007
100,Peanut butter(4)(5)(6),3.0,NaN,NaN
101,Other foods,2.4,0.000,0.043
102,Soups,0.6,0.000,0.001
103,Frozen and freeze dried prepared foods,0.7,0.003,0.002
104,Snacks,2.0,0.001,0.007
105,"Spices, seasonings, condiments, sauces",4.1,0.000,0.015
106,Salt and other seasonings and spices(5)(6),3.4,NaN,NaN
107,"Olives, pickles, relishes(4)(5)(6)",3.3,NaN,NaN
108,Sauces and gravies(5)(6),6.7,NaN,NaN
109,Other condiments(6),2.1,NaN,NaN
110,Baby food and formula(4)(5),7.3,0.000,0.003
111,Other miscellaneous foods(5),2.4,-0.003,0.016
112,Prepared salads(6)(7),1.8,NaN,NaN
113,Food away from home(4),5.2,0.016,0.252
114,Full service meals and snacks(4)(5),4.5,0.006,0.104
115,Limited service meals and snacks(4)(5),5.9,0.010,0.131
116,Food at employee sites and schools(4)(5),3.3,0.000,0.003
117,Food at elementary and secondary schools(4)(6)(8),2.2,NaN,NaN
118,Food from vending machines and mobile vendors(...,13.1,0.000,0.003

In [8]:
# Prune the proudcts column down to only wanted items. 

indexes_to_keep = [1, 2, 5, 6, 8, 9, 10, 15, 24, 25, 29, 31, 32, 33, 35, 40, 41, 42, 45, 46, 49, 50, 52, 55, 56, 60, 61, 62, 63, 66, 67, 68, 69, 74, 76, 78, 85, 96, 100, 113, 118]

bls_df = bls_df.loc[indexes_to_keep].reset_index(drop=True)

bls_df

,product,unadjusted_percent_change_2023,seasonally_adjusted_effect_2023,unadjusted_effect_2023
0,Food,2.7,0.028,0.366
1,Food at home,1.3,0.012,0.114
2,Flour and prepared flour mixes,2.2,0.000,0.001
3,Breakfast cereal(4),0.3,-0.004,0.000
4,Rice(4)(5)(6),0.1,NaN,NaN
5,Bakery products(4),3.6,-0.003,0.028
6,Bread(4)(5),3.1,-0.001,0.007
7,Cookies(4)(6),2.7,NaN,NaN
8,Beef and veal,8.7,0.001,0.038
9,Uncooked ground beef(4),6.7,-0.001,0.011
10,Pork,0.1,0.001,0.000
11,Bacon and related products(6),1.6,NaN,NaN
12,Breakfast sausage and related products(5)(6),-3.7,NaN,NaN
13,Ham,2.5,0.002,0.002
14,Pork chops(4),-0.4,0.000,0.000
15,Poultry(4),1.2,-0.001,0.004
16,Chicken(4)(5),0.7,0.000,0.002
17,Fresh whole chicken(4)(6),3.1,NaN,NaN
18,Fish and seafood,-1.4,-0.001,-0.004
19,Fresh fish and seafood(4)(5),-2.5,-0.001,-0.004
20,Frozen fish and seafood(6),-2.8,NaN,NaN
21,Eggs(4),-23.8,0.010,-0.040
22,Milk(5),-1.8,0.001,-0.004
23,Cheese and related products(4),-3.3,0.000,-0.008
24,Ice cream and related products,2.8,0.001,0.003
25,Fresh fruits,3.6,0.002,0.021
26,Apples,-5.9,0.000,-0.005
27,Bananas(4),1.0,0.000,0.001
28,Citrus fruits(5),5.4,0.001,0.009
29,Fresh vegetables,-4.8,-0.007,-0.026
30,Potatoes,-2.8,-0.003,-0.002
31,Lettuce,-16.7,-0.003,-0.014
32,Tomatoes,-7.2,0.000,-0.007
33,Canned vegetables(5)(6),2.1,NaN,NaN
34,Frozen vegetables(6),6.1,NaN,NaN
35,"Dried beans, peas, and lentils(4)(5)(6)",-1.5,NaN,NaN
36,Coffee,-1.6,-0.002,-0.003
37,Butter(6),-2.9,NaN,NaN
38,Peanut butter(4)(5)(6),3.0,NaN,NaN
39,Food away from home(4),5.2,0.016,0.252
40,Food from vending machines and mobile vendors(...,13.1,0.000,0.003

In [9]:
# Looking further at it, I think unadjusted_percent_change is the numeric data I'm going to want to use from this table. 
# Drop the others. 

bls_df.drop(columns=['seasonally_adjusted_effect_2023', 'unadjusted_effect_2023'], axis=1, inplace=True)

bls_df

,product,unadjusted_percent_change_2023
0,Food,2.7
1,Food at home,1.3
2,Flour and prepared flour mixes,2.2
3,Breakfast cereal(4),0.3
4,Rice(4)(5)(6),0.1
5,Bakery products(4),3.6
6,Bread(4)(5),3.1
7,Cookies(4)(6),2.7
8,Beef and veal,8.7
9,Uncooked ground beef(4),6.7
10,Pork,0.1
11,Bacon and related products(6),1.6
12,Breakfast sausage and related products(5)(6),-3.7
13,Ham,2.5
14,Pork chops(4),-0.4
15,Poultry(4),1.2
16,Chicken(4)(5),0.7
17,Fresh whole chicken(4)(6),3.1
18,Fish and seafood,-1.4
19,Fresh fish and seafood(4)(5),-2.5
20,Frozen fish and seafood(6),-2.8
21,Eggs(4),-23.8
22,Milk(5),-1.8
23,Cheese and related products(4),-3.3
24,Ice cream and related products,2.8
25,Fresh fruits,3.6
26,Apples,-5.9
27,Bananas(4),1.0
28,Citrus fruits(5),5.4
29,Fresh vegetables,-4.8
30,Potatoes,-2.8
31,Lettuce,-16.7
32,Tomatoes,-7.2
33,Canned vegetables(5)(6),2.1
34,Frozen vegetables(6),6.1
35,"Dried beans, peas, and lentils(4)(5)(6)",-1.5
36,Coffee,-1.6
37,Butter(6),-2.9
38,Peanut butter(4)(5)(6),3.0
39,Food away from home(4),5.2
40,Food from vending machines and mobile vendors(...,13.1

In [10]:
# Strip parenthetical information from product names

bls_df['product'] = bls_df['product'].str.replace(r'\(.*\)', '', regex=True)

bls_df

,product,unadjusted_percent_change_2023
0,Food,2.7
1,Food at home,1.3
2,Flour and prepared flour mixes,2.2
3,Breakfast cereal,0.3
4,Rice,0.1
5,Bakery products,3.6
6,Bread,3.1
7,Cookies,2.7
8,Beef and veal,8.7
9,Uncooked ground beef,6.7
10,Pork,0.1
11,Bacon and related products,1.6
12,Breakfast sausage and related products,-3.7
13,Ham,2.5
14,Pork chops,-0.4
15,Poultry,1.2
16,Chicken,0.7
17,Fresh whole chicken,3.1
18,Fish and seafood,-1.4
19,Fresh fish and seafood,-2.5
20,Frozen fish and seafood,-2.8
21,Eggs,-23.8
22,Milk,-1.8
23,Cheese and related products,-3.3
24,Ice cream and related products,2.8
25,Fresh fruits,3.6
26,Apples,-5.9
27,Bananas,1.0
28,Citrus fruits,5.4
29,Fresh vegetables,-4.8
30,Potatoes,-2.8
31,Lettuce,-16.7
32,Tomatoes,-7.2
33,Canned vegetables,2.1
34,Frozen vegetables,6.1
35,"Dried beans, peas, and lentils",-1.5
36,Coffee,-1.6
37,Butter,-2.9
38,Peanut butter,3.0
39,Food away from home,5.2
40,Food from vending machines and mobile vendors,13.1

In [11]:
# Normalize product names

rename_dict = {
    'Flour and prepared flour mixes' : 'Flour',
    'Breakfast cereal' : 'Cereal', 
    'Bakery products' : 'Bakery', 
    'Uncooked ground beef' : 'Ground beef', 
    'Bacon and related products' : 'Bacon', 
    'Breakfast sausage and related products' : 'Bkfst sausage', 
    'Fresh whole chicken' : 'Whole chicken', 
    'Fish and seafood' : 'Fish', 
    'Fresh fish and seafood' : 'Fresh fish', 
    'Frozen fish and seafood' : 'Frozen fish', 
    'Cheese and related products' : 'Cheese', 
    'Ice cream and related products' : 'Ice cream', 
    'Dried beans, peas, and lentils' : 'Beans'
}

bls_df['product'] = bls_df['product'].replace(rename_dict)

bls_df

,product,unadjusted_percent_change_2023
0,Food,2.7
1,Food at home,1.3
2,Flour,2.2
3,Cereal,0.3
4,Rice,0.1
5,Bakery,3.6
6,Bread,3.1
7,Cookies,2.7
8,Beef and veal,8.7
9,Ground beef,6.7
10,Pork,0.1
11,Bacon,1.6
12,Bkfst sausage,-3.7
13,Ham,2.5
14,Pork chops,-0.4
15,Poultry,1.2
16,Chicken,0.7
17,Whole chicken,3.1
18,Fish,-1.4
19,Fresh fish,-2.5
20,Frozen fish,-2.8
21,Eggs,-23.8
22,Milk,-1.8
23,Cheese,-3.3
24,Ice cream,2.8
25,Fresh fruits,3.6
26,Apples,-5.9
27,Bananas,1.0
28,Citrus fruits,5.4
29,Fresh vegetables,-4.8
30,Potatoes,-2.8
31,Lettuce,-16.7
32,Tomatoes,-7.2
33,Canned vegetables,2.1
34,Frozen vegetables,6.1
35,Beans,-1.5
36,Coffee,-1.6
37,Butter,-2.9
38,Peanut butter,3.0
39,Food away from home,5.2
40,Food from vending machines and mobile vendors,13.1

In [75]:
# Export furhter cleaned bls_df

bls_df.to_csv('bls_cpi_final.csv')

### Takeaways:
* That's starting to look like a reasonable dataset to use to find matching products in the other datasets. 
* Now... how to do that...

## B. Grocery Market Data

In [13]:
usda_df = pd.read_csv('cleaned_usda_data_grouped_and_filtered.csv')

usda_df.head()

,product_name,region,report_date,mean_weighted_price,year
0,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-02-03,3.99,2023
1,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-02-17,5.99,2023
2,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-03-31,4.98,2023
3,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-05-26,4.98,2023
4,APPLES BRAEBURN 3 lb bag,NATIONAL,2023-02-03,3.99,2023

In [14]:
# Let's take 'apples' as the first test case, here. 
# What results can I find for 'apples' in this dataset?

apples_matches = usda_df[usda_df['product_name'].str.contains('apples', case=False, na=False)]

apples_matches.head(5)

# So... a product like 'apples' returned over 3000 rows of data.  This isn't going to be useful,
# particularly given how many *different* ways apples are listed (variety, packaging, etc.).  I
# need to get this down to ONE row of data per product (i.e. 'apple'), per region, per report date.

,product_name,region,report_date,mean_weighted_price,year
0,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-02-03,3.99,2023
1,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-02-17,5.99,2023
2,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-03-31,4.98,2023
3,APPLES BRAEBURN 3 lb bag,MIDWEST U.S.,2023-05-26,4.98,2023
4,APPLES BRAEBURN 3 lb bag,NATIONAL,2023-02-03,3.99,2023

In [15]:
# First, let's get the year column out of there (they're all 2023) and rename product_name
# to match the BLS CPI dataset. 

usda_df.drop('year', axis=1, inplace=True)

usda_df.rename(columns={'product_name': 'product'}, inplace=True)

usda_df.head()

                    product        region report_date  mean_weighted_price
0  APPLES BRAEBURN 3 lb bag  MIDWEST U.S.  2023-02-03                 3.99
1  APPLES BRAEBURN 3 lb bag  MIDWEST U.S.  2023-02-17                 5.99
2  APPLES BRAEBURN 3 lb bag  MIDWEST U.S.  2023-03-31                 4.98
3  APPLES BRAEBURN 3 lb bag  MIDWEST U.S.  2023-05-26                 4.98
4  APPLES BRAEBURN 3 lb bag      NATIONAL  2023-02-03                 3.99

In [16]:
# Okay... now... from the top. First up: flour. 

matches = usda_df[usda_df['product'].str.contains('peanut', case=False, na=False)]

matches

# Apparently there are none?  Flour = out. What else ISN'T in the USDA dataset? 

# Flour, cereal, rice, bakery, bread, cookies, poultry, whole chicken, fish, fresh fish, frozen fish,
# eggs, milk, cheese, ice cream, fresh fruits, bananas, citrus fruits (orange is present), fresh
# vegetables, canned vegetables, frozen vegetables, 'beans, peas, lentils' only as 'beans', coffee, 
# butter, peanut butter'

Empty DataFrame
Columns: [product, region, report_date, mean_weighted_price]
Index: []

### QUESTION: 
* Am I only going to keep products that are found in all three of the grocery datasets (USDA, BLS, and Costco)?  Or, I could keep matches in USDA and BLS, and again BLS and Costco.  What about matches between USDA and Costco datasets, too?
* I think I need to stick to using the BLS dataset as a starting point.

### i. Find products in the usda_df that also exist in the bls_df

In [17]:
# Filter the usda_df to only include products also found in the bls_df. 

# Ensure lowercase and strip spaces
bls_df['product'] = bls_df['product'].str.lower().str.strip()
usda_df['product'] = usda_df['product'].str.lower().str.strip()

# Create regex pattern to match any BLS product name within USDA product names
pattern = '|'.join(bls_df['product'].tolist())  # Join all words with '|' for OR matching

# Filter USDA dataset where the product column contains any BLS product name
filtered_usda_df = usda_df[usda_df['product'].str.contains(pattern, case=False, na=False)]

filtered_usda_df.shape

# I think the usda_df was at least 10x that size before.  We're getting somehwere here!

(26246, 4)

In [18]:
# Now, I need to clean up each product still remaining in the usda_df. 
# I need a list of products that matched in the usda_df from the bls_df. 

# Initialize an empty list to store matched product names
matched_products = []

# Loop over each product in bls_df
for product in bls_df['product']:
    # Check if the product from bls_df is found anywhere in usda_df
    if usda_df['product'].str.contains(product, case=False, na=False).any():
        matched_products.append(product)

# Display the list of matched products
matched_products

['ground beef',
 'pork',
 'bacon',
 'bkfst sausage',
 'ham',
 'chicken',
 'apples',
 'potatoes',
 'lettuce',
 'tomatoes',
 'beans',
 'butter']

In [19]:
# I think there's a few more that should've matched, but didn't due to formatting errors.

rename_dict = {
    'breakfast sausage' : 'sausage bkfst', 
    'dried beans, peas, and lentils' : 'beans'
}

bls_df['product'] = bls_df['product'].replace(rename_dict)

bls_df

,product,unadjusted_percent_change_2023
0,food,2.7
1,food at home,1.3
2,flour,2.2
3,cereal,0.3
4,rice,0.1
5,bakery,3.6
6,bread,3.1
7,cookies,2.7
8,beef and veal,8.7
9,ground beef,6.7
10,pork,0.1
11,bacon,1.6
12,bkfst sausage,-3.7
13,ham,2.5
14,pork chops,-0.4
15,poultry,1.2
16,chicken,0.7
17,whole chicken,3.1
18,fish,-1.4
19,fresh fish,-2.5
20,frozen fish,-2.8
21,eggs,-23.8
22,milk,-1.8
23,cheese,-3.3
24,ice cream,2.8
25,fresh fruits,3.6
26,apples,-5.9
27,bananas,1.0
28,citrus fruits,5.4
29,fresh vegetables,-4.8
30,potatoes,-2.8
31,lettuce,-16.7
32,tomatoes,-7.2
33,canned vegetables,2.1
34,frozen vegetables,6.1
35,beans,-1.5
36,coffee,-1.6
37,butter,-2.9
38,peanut butter,3.0
39,food away from home,5.2
40,food from vending machines and mobile vendors,13.1

In [20]:
# Re-run matching code

# Create regex pattern to match any BLS product name within USDA product names
pattern = '|'.join(bls_df['product'].tolist())  # Join all words with '|' for OR matching

# Filter USDA dataset where the product column contains any BLS product name
usda_df = usda_df[usda_df['product'].str.contains(pattern, case=False, na=False)]

usda_df.shape

(26246, 4)

In [21]:
# List matches again

# Initialize an empty list to store matched product names
matched_products = []

# Loop over each product in bls_df
for product in bls_df['product']:
    # Check if the product from bls_df is found anywhere in usda_df
    if usda_df['product'].str.contains(product, case=False, na=False).any():
        matched_products.append(product)

# Display the list of matched products
matched_products

['ground beef',
 'pork',
 'bacon',
 'bkfst sausage',
 'ham',
 'chicken',
 'apples',
 'potatoes',
 'lettuce',
 'tomatoes',
 'beans',
 'butter']

### ii. Ground beef

In [22]:
# Okay... let's get to work, starting with 'ground beef' 

ground_beef = usda_df[usda_df['product'].str.contains(r'ground beef', case=False, na=False)]
                      
ground_beef.head()

,product,region,report_date,mean_weighted_price
11542,beef ground beef 70-79% per pound,ALASKA,2023-02-03,2.49
11543,beef ground beef 70-79% per pound,ALASKA,2023-03-03,2.49
11544,beef ground beef 70-79% per pound,HAWAII,2023-01-06,4.69
11545,beef ground beef 70-79% per pound,HAWAII,2023-01-20,4.59
11546,beef ground beef 70-79% per pound,HAWAII,2023-01-27,4.59

In [23]:
# Looking at this and thinking about how I'll want to analyze / visualize, it seems like having
# one data point per MONTH rather than per WEEK per region is what I want. So... let's make that.

# Ensure the report_date is in datetime format if not already
usda_df['report_date'] = pd.to_datetime(usda_df['report_date'])

# Extract year and month from report_date
usda_df['year_month'] = usda_df['report_date'].dt.to_period('M')

# Group by product, region, and the new year_month, and aggregate the price (mean in this case)
usda_df = usda_df.groupby(['product', 'region', 'year_month'], as_index=False)['mean_weighted_price'].mean()

usda_df = usda_df.drop_duplicates(subset=['product', 'region', 'year_month'])

usda_df.head()

                    product        region year_month  mean_weighted_price
0  apples braeburn 3 lb bag  MIDWEST U.S.    2023-02                 4.99
1  apples braeburn 3 lb bag  MIDWEST U.S.    2023-03                 4.98
2  apples braeburn 3 lb bag  MIDWEST U.S.    2023-05                 4.98
3  apples braeburn 3 lb bag      NATIONAL    2023-02                 4.99
4  apples braeburn 3 lb bag      NATIONAL    2023-03                 4.98

In [24]:
# Okay... back to ground beef.  I don't need things like 70-79%, 80-89%, etc. because
# the bls_df just lists 'ground beef' as a product. I want to aggregate a mean price 
# for all varieties of ground beef.

# Clean the 'product' column to only contain 'ground beef'
usda_df['product'] = usda_df['product'].str.replace(r'.*ground beef.*', 'ground beef', case=False, regex=True)

# Now group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Re-check 'ground beef' products... Looks like it worked. 

ground_beef = usda_df[usda_df['product'].str.contains(r'ground beef', case=False, na=False)]
                      
ground_beef.head(5)

          product  region year_month  mean_weighted_price
2058  ground beef  ALASKA    2023-01             4.751250
2059  ground beef  ALASKA    2023-02             3.769583
2060  ground beef  ALASKA    2023-03             4.455833
2061  ground beef  ALASKA    2023-04             4.621250
2062  ground beef  ALASKA    2023-05             4.839375

### iii. Pork chops

In [25]:
# Next, pork chops... 

pork_chops = usda_df[usda_df['product'].str.contains(r'pork.*chops', case=False, na=False)]

pork_chops.head(5)

,product,region,year_month,mean_weighted_price
2500,pork assorted chops b/in per pound,ALASKA,2023-03,2.89
2501,pork assorted chops b/in per pound,ALASKA,2023-04,2.69
2502,pork assorted chops b/in per pound,ALASKA,2023-05,3.49
2503,pork assorted chops b/in per pound,ALASKA,2023-06,2.69
2504,pork assorted chops b/in per pound,ALASKA,2023-07,2.29

In [26]:
# Clean the 'product' column to only contain variations of 'pork chops'
usda_df['product'] = usda_df['product'].str.replace(r'.*pork.*chops.*', 'pork chops', case=False, regex=True)

# Filter for only pork chops (while keeping breakfast sausage out)
pork_chops_df = usda_df[usda_df['product'].str.contains(r'pork chops', case=False, na=False)]

# Group by 'product', 'region', and 'year_month', then calculate the mean price for pork chops
pork_chops_df = pork_chops_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Preview the result
pork_chops_df.head(5)

      product  region year_month  mean_weighted_price
0  pork chops  ALASKA    2023-01             3.226667
1  pork chops  ALASKA    2023-02             4.041111
2  pork chops  ALASKA    2023-03             3.529333
3  pork chops  ALASKA    2023-04             3.653000
4  pork chops  ALASKA    2023-05             4.330000

### iv. Bacon

In [27]:
# On to bacon... 

bacon_df = usda_df[usda_df['product'].str.contains(r'bacon', case=False, na=False)]
                      
bacon_df.head(5)

                            product  region year_month  mean_weighted_price
3198  pork canadian bacon per pound  ALASKA    2023-04                 9.81
3199  pork canadian bacon per pound  ALASKA    2023-07                14.64
3200  pork canadian bacon per pound  ALASKA    2023-08                11.17
3201  pork canadian bacon per pound  ALASKA    2023-12                12.77
3202  pork canadian bacon per pound  HAWAII    2023-09                 8.00

In [28]:
# What all different kinds of bacon are listed? 

bacon_df['product'].unique()

array(['pork canadian bacon per pound', 'pork pre-cooked bacon per pound',
       'pork sliced bacon, 1 lb pkg per pound'], dtype=object)

In [29]:
# 'pork sliced bacon' is what we generally consume here in the U.S., so I'm going to just keep that

# Rename any product that contains 'pork sliced bacon, 1 lb pkg per pound' to 'pork sliced bacon'
usda_df['product'] = usda_df['product'].str.replace(r'.*pork sliced bacon, 1 lb pkg per pound.*', 'pork sliced bacon', case=False, regex=True)

# Remove only unwanted bacon types while keeping all other products unchanged
usda_df = usda_df[~usda_df['product'].str.contains(r'pork canadian bacon|pork pre-cooked bacon', case=False, na=False)]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Extract only the cleaned bacon data
bacon_df = usda_df[usda_df['product'] == 'pork sliced bacon']

# Preview results
bacon_df.head(5)

                product  region year_month  mean_weighted_price
5547  pork sliced bacon  ALASKA    2023-01               7.3950
5548  pork sliced bacon  ALASKA    2023-02               8.2325
5549  pork sliced bacon  ALASKA    2023-03               7.3120
5550  pork sliced bacon  ALASKA    2023-04               7.1800
5551  pork sliced bacon  ALASKA    2023-05               7.3625

### v. Breakfast sausage

In [30]:
# On to breakfast sausage... 

sausage_df = usda_df[usda_df['product'].str.contains(r'sausage', case=False, na=False)]
                      
sausage_df.head(5)

,product,region,year_month,mean_weighted_price
2608,"pork bkfst sausage, 1 lb roll per pound",ALASKA,2023-01,5.990000
2609,"pork bkfst sausage, 1 lb roll per pound",ALASKA,2023-02,5.990000
2610,"pork bkfst sausage, 1 lb roll per pound",ALASKA,2023-03,4.156667
2611,"pork bkfst sausage, 1 lb roll per pound",ALASKA,2023-04,6.195000
2612,"pork bkfst sausage, 1 lb roll per pound",ALASKA,2023-06,5.290000

In [31]:
# What all different kinds of sausage are listed? 

sausage_df['product'].unique()

array(['pork bkfst sausage, 1 lb roll per pound',
       'pork bkfst sausage, link/patty per pound',
       'pork dinner sausage per pound', 'pork italian sausage per pound',
       'pork pre-cooked sausage per pound'], dtype=object)

In [32]:
# pork bkfst sausage, 1 lb roll per poud best aligns with the product in the bls_df.  Filter out all others. 

# Rename 'pork bkfst sausage, 1 lb roll per pound' to 'pork breakfast sausage'
usda_df['product'] = usda_df['product'].str.replace(
    r'.*pork bkfst sausage, 1 lb roll per pound.*', 'pork breakfast sausage', case=False, regex=True
)

# Remove only unwanted sausage types while keeping all other products unchanged
usda_df = usda_df[~usda_df['product'].str.contains(
    r'pork bkfst sausage, link/patty|pork dinner sausage|pork italian sausage|pork pre-cooked sausage', 
    case=False, na=False
)]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Extract only the cleaned sausage data for preview
sausage_df = usda_df[usda_df['product'] == 'pork breakfast sausage']

# Preview results
sausage_df.head(5)

                     product  region year_month  mean_weighted_price
2673  pork breakfast sausage  ALASKA    2023-01             5.990000
2674  pork breakfast sausage  ALASKA    2023-02             5.990000
2675  pork breakfast sausage  ALASKA    2023-03             4.156667
2676  pork breakfast sausage  ALASKA    2023-04             6.195000
2677  pork breakfast sausage  ALASKA    2023-06             5.290000

### vi. Ham

In [33]:
# Now, ham... 

ham_df = usda_df[usda_df['product'].str.contains(r'ham', case=False, na=False)]
                      
ham_df.head(5)

,product,region,year_month,mean_weighted_price
1372,"beef ham, bnls per pound",NATIONAL,2023-01,4.59
1373,"beef ham, bnls per pound",SOUTH CENTRAL U.S.,2023-01,4.19
1374,"beef ham, bnls per pound",SOUTHEAST U.S.,2023-01,4.99
3557,pork deli ham per pound,ALASKA,2023-03,7.74
3558,pork deli ham per pound,ALASKA,2023-04,7.49

In [34]:
# What all different kinds of ham are listed? 

ham_df['product'].unique()

array(['beef ham, bnls per pound', 'pork deli ham per pound',
       'pork ham steak per pound', 'pork ham, b/in butt per pound',
       'pork ham, b/in per pound', 'pork ham, b/in shank per pound',
       'pork ham, bnls per pound', 'pork ham, spiral per pound',
       'pork pkg/slcd ham, 1 lb/less per pound'], dtype=object)

In [35]:
# Keep only 'pork ham, spiral per pound', the most-commonly consumed type of ham in the U.S.

# Rename 'pork ham, spiral per pound' to 'pork spiral ham'
usda_df['product'] = usda_df['product'].str.replace(
    r'.*pork ham, spiral per pound.*', 'pork spiral ham', case=False, regex=True
)

# Remove only unwanted ham types while keeping all other products unchanged
usda_df = usda_df[~usda_df['product'].str.contains(
    r'pork deli ham|pork ham steak|pork ham, b/in butt|pork ham, b/in|pork ham, b/in shank|pork ham, bnls|pork pkg/slcd ham', 
    case=False, na=False
)]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Extract only the cleaned ham data for preview
ham_df = usda_df[usda_df['product'] == 'pork spiral ham']

# Preview results
ham_df.head(5)

              product  region year_month  mean_weighted_price
4673  pork spiral ham  ALASKA    2023-01                 3.69
4674  pork spiral ham  ALASKA    2023-03                 4.81
4675  pork spiral ham  ALASKA    2023-04                 3.11
4676  pork spiral ham  ALASKA    2023-08                 5.99
4677  pork spiral ham  ALASKA    2023-11                 4.39

### vii. Chicken

In [36]:
# Now, chicken... 

chicken_df = usda_df[usda_df['product'].str.contains(r'chicken', case=False, na=False)]
                      
chicken_df.head(5)

                   product  region year_month  mean_weighted_price
1375  chicken fresh bagged  ALASKA    2023-01               2.0150
1376  chicken fresh bagged  ALASKA    2023-02               2.3900
1377  chicken fresh bagged  ALASKA    2023-03               1.6950
1378  chicken fresh bagged  ALASKA    2023-04               1.2825
1379  chicken fresh bagged  ALASKA    2023-05               2.4300

In [37]:
# What all different kinds of chicken are listed? 

chicken_df['product'].unique()

array(['chicken fresh bagged', 'chicken fresh tray',
       'chicken fresh tray regular', 'chicken fresh tray value',
       'chicken fresh/frozen bagged', 'chicken frozen bagged',
       'chicken prepared 7-10 ounces'], dtype=object)

In [38]:
# Keep 'fresh bagged' as the likely most-common variety.  Filter out all others. 

# Rename 'chicken fresh bagged' to 'chicken fresh bagged'
usda_df['product'] = usda_df['product'].str.replace(
    r'.*chicken fresh bagged.*', 'chicken fresh bagged', case=False, regex=True
)

# Remove only unwanted chicken types while keeping all other products unchanged
usda_df = usda_df[~usda_df['product'].str.contains(
    r'chicken fresh tray|chicken fresh tray regular|chicken fresh tray value|chicken fresh/frozen bagged|chicken frozen bagged|chicken prepared 7-10 ounces', 
    case=False, na=False
)]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Extract only the cleaned chicken data for preview
chicken_df = usda_df[usda_df['product'] == 'chicken fresh bagged']

# Preview results
chicken_df.head(5)

                   product  region year_month  mean_weighted_price
1375  chicken fresh bagged  ALASKA    2023-01               2.0150
1376  chicken fresh bagged  ALASKA    2023-02               2.3900
1377  chicken fresh bagged  ALASKA    2023-03               1.6950
1378  chicken fresh bagged  ALASKA    2023-04               1.2825
1379  chicken fresh bagged  ALASKA    2023-05               2.4300

### viii. Apples

In [39]:
# On to apples... 

apples_df = usda_df[usda_df['product'].str.contains(r'apples', case=False, na=False)]
                      
apples_df.head(5)

                    product        region year_month  mean_weighted_price
0  apples braeburn 3 lb bag  MIDWEST U.S.    2023-02                 4.99
1  apples braeburn 3 lb bag  MIDWEST U.S.    2023-03                 4.98
2  apples braeburn 3 lb bag  MIDWEST U.S.    2023-05                 4.98
3  apples braeburn 3 lb bag      NATIONAL    2023-02                 4.99
4  apples braeburn 3 lb bag      NATIONAL    2023-03                 4.98

In [40]:
# What all different kinds of apples are listed? 

apples_df['product'].unique()

array(['apples braeburn 3 lb bag', 'apples braeburn per pound',
       'apples fuji 2 lb bag', 'apples fuji 3 lb bag',
       'apples fuji 5 lb bag', 'apples fuji per pound',
       'apples gala 2 lb bag', 'apples gala 3 lb bag',
       'apples gala 5 lb bag', 'apples gala per pound',
       'apples ginger gold 3 lb bag', 'apples ginger gold 5 lb bag',
       'apples ginger gold per pound', 'apples golden delicious 2 lb bag',
       'apples golden delicious 3 lb bag',
       'apples golden delicious 5 lb bag',
       'apples golden delicious per pound',
       'apples granny smith 2 lb bag', 'apples granny smith 3 lb bag',
       'apples granny smith 5 lb bag', 'apples granny smith per pound',
       'apples honeycrisp 2 lb bag', 'apples honeycrisp 3 lb bag',
       'apples honeycrisp 5 lb bag', 'apples honeycrisp per pound',
       'apples jonagold 3 lb bag', 'apples jonagold 5 lb bag',
       'apples jonagold per pound', 'apples jonathan 3 lb bag',
       'apples jonathan 5 lb bag', 'apples jonathan per pound',
       'apples mcintosh 2 lb bag', 'apples mcintosh 3 lb bag',
       'apples mcintosh 5 lb bag', 'apples mcintosh per pound',
       'apples paula red 3 lb bag', 'apples paula red per pound',
       'apples pink lady/cripps pink 2 lb bag',
       'apples pink lady/cripps pink 3 lb bag',
       'apples pink lady/cripps pink 5 lb bag',
       'apples pink lady/cripps pink per pound',
       'apples red delicious 2 lb bag', 'apples red delicious 3 lb bag',
       'apples red delicious 5 lb bag', 'apples red delicious per pound'],
      dtype=object)

In [41]:
# Keep everything that's listed 'per pound' and aggregate. 

# Replace only apple products that have 'per pound' with 'apples per pound'
usda_df.loc[usda_df['product'].str.contains(r'apples.*per pound', case=False, na=False), 'product'] = 'apples per pound'

# Remove all apple products that are NOT 'per pound' (e.g., 2 lb bag, 3 lb bag, etc.)
usda_df = usda_df[~usda_df['product'].str.contains(r'apples', case=False, na=False) | (usda_df['product'] == 'apples per pound')]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Preview the result for apples
apples_df = usda_df[usda_df['product'] == 'apples per pound']

# Display the top 5 rows
apples_df.head(5)

            product  region year_month  mean_weighted_price
0  apples per pound  ALASKA    2023-01             2.028194
1  apples per pound  ALASKA    2023-02             2.141250
2  apples per pound  ALASKA    2023-03             1.806944
3  apples per pound  ALASKA    2023-04             1.928929
4  apples per pound  ALASKA    2023-05             2.220833

### ix. Potatoes

In [42]:
# Up next: potatoes

potatoes_df = usda_df[usda_df['product'].str.contains(r'potatoes', case=False, na=False)]
                      
potatoes_df.head(5)

,product,region,year_month,mean_weighted_price
3282,potatoes round red 10 lb bag,MIDWEST U.S.,2023-01,4.76
3283,potatoes round red 10 lb bag,MIDWEST U.S.,2023-03,4.99
3284,potatoes round red 10 lb bag,MIDWEST U.S.,2023-04,3.99
3285,potatoes round red 10 lb bag,NATIONAL,2023-01,4.76
3286,potatoes round red 10 lb bag,NATIONAL,2023-02,2.99

In [43]:
# What all different kinds of potatoes are listed? 

potatoes_df['product'].unique()

array(['potatoes round red 10 lb bag', 'potatoes round red 3 lb bag',
       'potatoes round red 5 lb bag', 'potatoes round red per pound',
       'potatoes round white 10 lb bag', 'potatoes round white 3 lb bag',
       'potatoes round white 5 lb bag', 'potatoes round white per pound',
       'potatoes russet 10 lb bag', 'potatoes russet 3 lb bag',
       'potatoes russet 5 lb bag', 'potatoes russet 8 lb bag',
       'potatoes russet per pound', 'potatoes yellow type 10 lb bag',
       'potatoes yellow type 3 lb bag', 'potatoes yellow type 5 lb bag',
       'potatoes yellow type 8 lb bag', 'potatoes yellow type per pound'],
      dtype=object)

In [44]:
# Keep everything that's listed 'per pound' and aggregate 

# Replace potato products that have 'per pound' with 'potatoes per pound'
usda_df['product'] = usda_df['product'].str.replace(r'.*potatoes.*per pound.*', 'potatoes per pound', case=False, regex=True)

# Remove all potato products that are not 'per pound' (e.g., 3 lb bag, 5 lb bag, etc.)
usda_df = usda_df[(~usda_df['product'].str.contains(r'potatoes', case=False, na=False)) | (usda_df['product'] == 'potatoes per pound')]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Preview the result for potatoes
potatoes_df = usda_df[usda_df['product'] == 'potatoes per pound']

# Display the top 5 rows
potatoes_df.head(5)

                 product  region year_month  mean_weighted_price
3282  potatoes per pound  ALASKA    2023-01             1.393125
3283  potatoes per pound  ALASKA    2023-02             1.445556
3284  potatoes per pound  ALASKA    2023-03             1.265556
3285  potatoes per pound  ALASKA    2023-04             1.531667
3286  potatoes per pound  ALASKA    2023-05             1.539444

### x. Lettuce

In [45]:
# Up next: lettuce 

lettuce_df = usda_df[usda_df['product'].str.contains(r'lettuce', case=False, na=False)]
                      
lettuce_df.head(5)

                        product        region year_month  mean_weighted_price
383  lettuce, other boston each  MIDWEST U.S.    2023-08             0.890000
384  lettuce, other boston each  MIDWEST U.S.    2023-09             0.990000
385  lettuce, other boston each      NATIONAL    2023-01             1.493333
386  lettuce, other boston each      NATIONAL    2023-03             2.495000
387  lettuce, other boston each      NATIONAL    2023-05             1.890000

In [46]:
# What all different kinds of lettuce are listed? 

lettuce_df['product'].unique()

array(['lettuce, other boston each', 'lettuce, other boston per pound',
       'lettuce, other green leaf each',
       'lettuce, other green leaf per pound',
       'lettuce, other red leaf each',
       'lettuce, other red leaf per pound',
       'lettuce, romaine hearts 3 count package'], dtype=object)

In [47]:
# Keep everything that's listed 'per pound' and aggregate

# Replace all lettuce products that have 'per pound' with 'lettuce per pound'
usda_df['product'] = usda_df['product'].str.replace(r'.*lettuce.*per pound.*', 'lettuce per pound', case=False, regex=True)

# Remove all lettuce products that are NOT sold per pound (e.g., "each" or "romaine hearts 3 count package")
usda_df = usda_df[(~usda_df['product'].str.contains(r'lettuce', case=False, na=False)) | (usda_df['product'] == 'lettuce per pound')]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Verify the result
lettuce_df = usda_df[usda_df['product'] == 'lettuce per pound']
lettuce_df.head(5)

               product        region year_month  mean_weighted_price
383  lettuce per pound        HAWAII    2023-04                 1.99
384  lettuce per pound        HAWAII    2023-05                 1.59
385  lettuce per pound        HAWAII    2023-06                 1.89
386  lettuce per pound        HAWAII    2023-08                 1.39
387  lettuce per pound  MIDWEST U.S.    2023-01                 1.99

### xi. Tomatoes

In [48]:
# On to tomatoes

tomatoes_df = usda_df[usda_df['product'].str.contains(r'tomatoes', case=False, na=False)]
                      
tomatoes_df.head(5)

,product,region,year_month,mean_weighted_price
3132,tomatoes vine ripe - heirloom varieties per pound,ALASKA,2023-06,2.490
3133,tomatoes vine ripe - heirloom varieties per pound,ALASKA,2023-07,3.990
3134,tomatoes vine ripe - heirloom varieties per pound,MIDWEST U.S.,2023-01,5.990
3135,tomatoes vine ripe - heirloom varieties per pound,MIDWEST U.S.,2023-02,2.990
3136,tomatoes vine ripe - heirloom varieties per pound,MIDWEST U.S.,2023-03,3.405

In [49]:
# What all different kinds of tomatoes are listed? 

tomatoes_df['product'].unique()

array(['tomatoes vine ripe - heirloom varieties per pound',
       'tomatoes vine ripes per pound',
       'tomatoes vine ripes, on the vine per pound',
       'tomatoes, plum type roma per pound'], dtype=object)

In [50]:
# Since all are listed 'per pound', aggregate into a single tomato category

# Replace all tomato products that have 'per pound' with 'tomatoes per pound'
usda_df['product'] = usda_df['product'].str.replace(r'.*tomatoes.*per pound.*', 'tomatoes per pound', case=False, regex=True)

# Remove all tomato products that are NOT sold per pound (if any)
usda_df = usda_df[(~usda_df['product'].str.contains(r'tomatoes', case=False, na=False)) | (usda_df['product'] == 'tomatoes per pound')]

# Group by 'product', 'region', and 'year_month', then calculate the mean price
usda_df = usda_df.groupby(['product', 'region', 'year_month'])['mean_weighted_price'].mean().reset_index()

# Verify the result
tomatoes_df = usda_df[usda_df['product'] == 'tomatoes per pound']
tomatoes_df.head(5)

                 product  region year_month  mean_weighted_price
3132  tomatoes per pound  ALASKA    2023-01             2.831389
3133  tomatoes per pound  ALASKA    2023-02             2.647778
3134  tomatoes per pound  ALASKA    2023-03             2.393333
3135  tomatoes per pound  ALASKA    2023-04             2.249444
3136  tomatoes per pound  ALASKA    2023-05             2.122500

### xii. Beans

In [51]:
# Almost there! 2nd-to-last: beans

beans_df = usda_df[usda_df['product'].str.contains(r'beans', case=False, na=False)]
                      
beans_df.head(5)

                             product  region year_month  mean_weighted_price
81  beans round green type per pound  ALASKA    2023-01                2.480
82  beans round green type per pound  ALASKA    2023-03                2.435
83  beans round green type per pound  ALASKA    2023-04                2.450
84  beans round green type per pound  ALASKA    2023-05                2.980
85  beans round green type per pound  ALASKA    2023-06                2.590

In [52]:
# What all different kinds of beans are listed? 

beans_df['product'].unique()

# Looks like there's already only one type of beans listed *thumbs up*

array(['beans round green type per pound'], dtype=object)

### xiii. Butter

In [53]:
# Last but not least: butter

butter_df = usda_df[usda_df['product'].str.contains(r'butter', case=False, na=False)]
                      
butter_df.head(5)

,product,region,year_month,mean_weighted_price
366,"lamb/veal lb butterflied, bnls leg per pound",NATIONAL,2023-02,8.99
367,"lamb/veal lb butterflied, bnls leg per pound",NATIONAL,2023-03,8.99
368,"lamb/veal lb butterflied, bnls leg per pound",NATIONAL,2023-06,7.99
369,"lamb/veal lb butterflied, bnls leg per pound",NATIONAL,2023-07,8.88
370,"lamb/veal lb butterflied, bnls leg per pound",NATIONAL,2023-08,8.88

In [54]:
# What all different kinds of butter are listed? 

butter_df['product'].unique()

# Ah... that's not like... actually butter products

array(['lamb/veal lb butterflied, bnls leg per pound',
       'squash butternut per pound'], dtype=object)

In [55]:
# Filter out rows where 'product' contains 'butterflied' or 'butternut'
usda_df = usda_df[~usda_df['product'].str.contains(r'butterflied|butternut', case=False, na=False)]

# Verify the result by previewing the dataset
usda_df.head(5)

            product  region year_month  mean_weighted_price
0  apples per pound  ALASKA    2023-01             2.028194
1  apples per pound  ALASKA    2023-02             2.141250
2  apples per pound  ALASKA    2023-03             1.806944
3  apples per pound  ALASKA    2023-04             1.928929
4  apples per pound  ALASKA    2023-05             2.220833

### xiv. Final usda_df checks

In [56]:
# So, what's going on in usda_df now? 

usda_df.shape

# IIRC, it had ~26k rows prior to aggregation.  So, we've made a much more manageable dataset out of it *thumbs up*

(3149, 4)

In [57]:
# What products do we have in the usdas_df now?

usda_df['product'].unique().tolist()

['apples per pound',
 'beans round green type per pound',
 'beef ham, bnls per pound',
 'chicken fresh bagged',
 'ground beef',
 'lettuce per pound',
 'pork backribs per pound',
 'pork bnls ribeye steak per pound',
 'pork bone-in cc loin per pound',
 'pork breakfast sausage',
 'pork butt fresh b/in per pound',
 'pork butt roast bnls per pound',
 'pork chops',
 'pork chorizo per pound',
 'pork country style rib b/in per pound',
 'pork country style ribs bnls per pound',
 'pork deli cooked backribs per pound',
 'pork deli cooked pork roast per pound',
 'pork deli cooked spareribs per pound',
 'pork feet per pound',
 'pork ground pork per pound',
 'pork loin roast bnls per pound',
 'pork neckbones per pound',
 'pork picnic fresh b/in per pound',
 'pork pork steak per pound',
 'pork porketta per pound',
 'pork pulled pork per pound',
 'pork rib end roast b/in per pound',
 'pork sirloin end roast b/in per pound',
 'pork sirloin roast bnls per pound',
 'pork sliced bacon',
 'pork spareribs per pound',
 'pork spiral ham',
 'pork st. louis style spareribs per pound',
 'pork tenderloin, fresh per pound',
 'pork tenderloin, marinated per pound',
 'pork top round roast per pound',
 'pork whole bone-in loins per pound',
 'potatoes per pound',
 'tomatoes per pound']

In [58]:
# Seems like there's a lot of pork products that didn't get filtered out... 

usda_df[usda_df['product'].str.contains(r'pork', case=False, na=False)].head()

                     product  region year_month  mean_weighted_price
424  pork backribs per pound  ALASKA    2023-01             3.490000
425  pork backribs per pound  ALASKA    2023-02             3.910000
426  pork backribs per pound  ALASKA    2023-03             4.067500
427  pork backribs per pound  ALASKA    2023-04             4.323333
428  pork backribs per pound  ALASKA    2023-05             5.412500

In [59]:
# Filter the dataset to remove all unwanted pork products that fall outside of the aggregations we did for 
# pork chops, bacon, ham, and breakfast sausage above. 

usda_df = usda_df[~(
    usda_df['product'].str.contains(r'pork', case=False, na=False) &
    ~usda_df['product'].str.contains(r'pork chops|pork sliced bacon|pork spiral ham|pork\s*breakfast\s*sausage', case=False, na=False)
)]

# Display the first few rows to confirm the result
usda_df.head(5)


# Display the  to confirm the result

usda_df[usda_df['product'].str.contains(r'pork', case=False, na=False)].head()

                    product  region year_month  mean_weighted_price
597  pork breakfast sausage  ALASKA    2023-01             5.990000
598  pork breakfast sausage  ALASKA    2023-02             5.990000
599  pork breakfast sausage  ALASKA    2023-03             4.156667
600  pork breakfast sausage  ALASKA    2023-04             6.195000
601  pork breakfast sausage  ALASKA    2023-06             5.290000

In [60]:
# What's the list look like now? 

usda_df['product'].unique().tolist()

['apples per pound',
 'beans round green type per pound',
 'beef ham, bnls per pound',
 'chicken fresh bagged',
 'ground beef',
 'lettuce per pound',
 'pork breakfast sausage',
 'pork chops',
 'pork sliced bacon',
 'pork spiral ham',
 'potatoes per pound',
 'tomatoes per pound']

In [61]:
# Alright... hopefully final changes... 

# Remove 'beef ham, bnls per pound'
usda_df = usda_df[~usda_df['product'].str.contains('beef ham, bnls per pound', case=False, na=False)]

# Change 'beans round green type per pound' to 'beans per pound'
usda_df['product'] = usda_df['product'].replace('beans round green type per pound', 'beans per pound')

# Preview to check changes
usda_df['product'].unique().tolist()

['apples per pound',
 'beans per pound',
 'chicken fresh bagged',
 'ground beef',
 'lettuce per pound',
 'pork breakfast sausage',
 'pork chops',
 'pork sliced bacon',
 'pork spiral ham',
 'potatoes per pound',
 'tomatoes per pound']

In [62]:
# Export usda_df to csv

usda_df.to_csv('usda_final.csv')

### Takeaways: 
* I think I'm pretty close to a finished usda_df, which considering that this thing was a whopping 2.6GB of data to begin with, is some progress! 
* One thing that just struck me is that I'm not sure about certain products, such as 'chicken fresh bagged', 'graound beef', 'pork chops' etc.  Are those prices per pound.  I suppose any product that's not specificially listed as 'per pound' right now I need to go back and check what its unit of measuremeant was.

## C. Verified Grocery Sales Data

In [63]:
costco_df = pd.read_csv('cleaned_costco_data.csv')
costco_df.head()

,sub_category,price,title
0,Bakery & Desserts,56.99,"David’s Cookies Mile High Peanut Butter Cake, ..."
1,Bakery & Desserts,159.99,"The Cake Bake Shop 8"" Round Carrot Cake (16-22..."
2,Bakery & Desserts,44.99,"St Michel Madeleine, Classic French Sponge Cak..."
3,Bakery & Desserts,39.99,"David's Cookies Butter Pecan Meltaways 32 oz, ..."
4,Bakery & Desserts,59.99,"David’s Cookies Premier Chocolate Cake, 7.2 lb..."

In [64]:
# Take the list of products from the bls_df that had matches in the usda_df and find matches in the
# title column here in the costco_df

import pandas as pd

# List of matched products
matched_products = [
    'ground beef', 'pork', 'bacon', 'bkfst sausage', 'ham', 'chicken', 
    'apples', 'potatoes', 'lettuce', 'tomatoes', 'beans'
]

# Create a function to determine which product matches in a given title
def find_matching_product(title):
    for product in matched_products:
        if pd.notna(title) and re.search(rf'\b{product}\b', title, re.IGNORECASE):
            return product  # Return the first matching product
    return None  # Return None if no match is found

# Apply function to create a new column in costco_df
costco_df['matched_product'] = costco_df['title'].apply(find_matching_product)

# Filter out rows where no match was found
filtered_costco_df = costco_df.dropna(subset=['matched_product'])

# Sort the filtered DataFrame alphabetically by 'matched_product'
filtered_costco_df = filtered_costco_df.sort_values(by='matched_product')

# Group by 'matched_product' for easier analysis
grouped_costco = filtered_costco_df.groupby('matched_product')

# Display grouped results
grouped_costco.head(5)

,sub_category,price,title,matched_product
612,Gift Baskets,59.99,The Fruit Company Vintage Crate with Pears & A...,apples
929,Meat & Seafood,89.99,Authentic Wagyu Kurobuta Applewood Smoked Thic...,bacon
1120,Pantry & Dry Goods,10.99,"Kirkland Signature, Bacon Crumbles, 20 oz",bacon
1316,Seafood,119.99,Northwest Fish Wild Alaskan Sockeye Salmon Che...,bacon
949,Meat & Seafood,249.99,Authentic Wagyu Japanese A5 Bacon Wrapped Cube...,bacon
839,Kirkland Signature Grocery,10.99,"Kirkland Signature, Bacon Crumbles, 20 oz",bacon
1180,Pantry & Dry Goods,10.99,"S&W, Organic Garbanzo Beans, 15.5 oz, 8-Count",beans
1161,Pantry & Dry Goods,9.99,"S&W, Organic Black Beans, 15 oz, 8-Count",beans
1058,Organic,9.99,"S&W, Organic Black Beans, 15 oz, 8-Count",beans
1108,Pantry & Dry Goods,12.99,"Del Monte, Canned Cut Green Beans, 14.5 oz, 12...",beans
1061,Organic,10.99,"S&W, Organic Garbanzo Beans, 15.5 oz, 8-Count",beans
1067,Pantry & Dry Goods,14.99,"Kirkland Signature, Chicken Breast, 12.5 oz, 6...",chicken
1033,Organic,11.99,"Kirkland Signature, Organic Chicken Stock, 32 ...",chicken
1069,Pantry & Dry Goods,11.99,"Kirkland Signature, Organic Chicken Stock, 32 ...",chicken
1071,Pantry & Dry Goods,13.99,"Nissin, Cup Noodles, Chicken, 24-Count",chicken
1074,Pantry & Dry Goods,22.99,"Knorr, Chicken Bouillon, 7.9 lbs",chicken
1025,Meat & Seafood,129.99,"Authentic Wagyu Japanese A5 Ground Beef, 4 Tot...",ground beef
915,Meat & Seafood,199.99,D'Artagnan 13-piece Gourmet Roasting Ham & Lux...,ham
598,Gift Baskets,199.99,D'Artagnan 13-piece Gourmet Roasting Ham & Lux...,ham
502,Deli,249.99,D'Artagnan 18-month Aged Boneless Spanish Serr...,ham
500,Deli,109.99,"Noel Consorcio Serrano Ham Reserva Leg, 14 lbs",ham
498,Deli,649.99,Covap Jamon Iberico Bellota Ham Leg with Stand...,ham
1421,Snacks,21.99,"Golden Island Pork Snack Bites, Korean Barbecu...",pork
1453,Snacks,14.99,"Golden Island Fire Grilled Pork Jerky, Spicy S...",pork
962,Meat & Seafood,64.99,Sampler: Dry-Cured Acorn-Fed 100% Iberico Pork...,pork
961,Meat & Seafood,89.99,"Texas Tamale Co. Pork Tamales 6pk of 12 Each, ...",pork
932,Meat & Seafood,114.99,Rastelli's Pork Ribeye Steaks - (20/6 Oz Per P...,pork
1162,Pantry & Dry Goods,10.99,"Idahoan, Real Premium Mashed Potatoes, 3.25 lbs",potatoes
179,Breakfast,9.49,"Idaho Spuds, Golden Grill Hashbrown Potatoes, ...",potatoes
853,Kirkland Signature Grocery,7.99,"Kirkland Signature, Organic Diced Tomatoes, 14...",tomatoes
1138,Pantry & Dry Goods,7.99,"Kirkland Signature, Organic Diced Tomatoes, 14...",tomatoes

### Takeaways:
* This sort of confirms what I've been suspecting from the beginning: that the Costco dataset isn't particularly good at providing information that aligns with the way products are represented in the USDA dataset (i.e. unprocessed, by the pound).  Almost everything in the Costco dataset is processed.  Even things like "apples" can't be found by the pound.  
* I think we need to find a new Verified Grocery Sales Data dataset.  Off we go...

## D. Verified Grocery Sales Data - TAKE TWO!

So, after determining that the Costco dataset wasn't going to work well, I found several alternatives.  After testing several, I've currently landed on the U.S. Bureau of Labor Statistics' [Average Retail Food and Energy Prices, U.S. City Average and West Region ](https://www.bls.gov/regions/mid-atlantic/data/averageretailfoodandenergyprices_usandwest_table.htm) dataset.  Verified grocery sales data is card to come by, as most retail chains consider it proprietary and don't release it to the public for competitive reasons, but this appears to give usable grocery price insights.  

To make use of the data, I copied it from the BLS's website into an Excel document, where I did most of the cleaning to narrow it down to products that match what were also available in both the USDA and BLS Consumer Price Index datasets.

In [76]:
bls_arf_df = pd.read_excel('bls_arf.xlsx')
bls_arf_df.head()

,Item and unit,Unnamed: 1,US Dec 2023 Price,US Nov 2024 Price,US Dec 2024 Price,US Percent Change from Dec 2023,Percent Change from Nov 2024,Unnamed: 7,West Dec 2023 Price,West Nov 2024 Price,West Dec 2024 Price,West Percent Change from Dec 2023,Percent Change from Nov 2024.1
0,"Ground beef, per lb. (453.6 gm)",NaN,5.566,5.874,5.863,5.3,-0.2,NaN,5.755,5.916,5.886,2.3,-0.5
1,"Bacon, sliced, per lb. (453.6 gm)",NaN,6.774,6.843,6.915,2.1,1.1,NaN,6.920,7.465,7.300,5.5,-2.2
2,"All Pork Chops, per lb. (453.6 gm)",NaN,4.256,4.430,4.308,1.2,-2.8,NaN,4.730,4.672,4.542,-4.0,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",NaN,5.497,5.630,5.458,-0.7,-3.1,NaN,5.378,5.717,5.624,4.6,-1.6
4,"Chicken, fresh, whole, per lb. (453.6 gm)",NaN,1.955,2.076,2.061,5.4,-0.7,NaN,2.104,2.144,2.152,2.3,0.4

In [78]:
# Normalize column headers

bls_arf_df.columns = bls_arf_df.columns.str.replace(' ', '_').str.lower()
bls_arf_df.head()

,item_and_unit,unnamed:_1,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,percent_change_from_nov_2024,unnamed:_7,west_dec_2023_price,west_nov_2024_price,west_dec_2024_price,west_percent_change_from_dec_2023,percent_change_from_nov_2024.1
0,"Ground beef, per lb. (453.6 gm)",NaN,5.566,5.874,5.863,5.3,-0.2,NaN,5.755,5.916,5.886,2.3,-0.5
1,"Bacon, sliced, per lb. (453.6 gm)",NaN,6.774,6.843,6.915,2.1,1.1,NaN,6.920,7.465,7.300,5.5,-2.2
2,"All Pork Chops, per lb. (453.6 gm)",NaN,4.256,4.430,4.308,1.2,-2.8,NaN,4.730,4.672,4.542,-4.0,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",NaN,5.497,5.630,5.458,-0.7,-3.1,NaN,5.378,5.717,5.624,4.6,-1.6
4,"Chicken, fresh, whole, per lb. (453.6 gm)",NaN,1.955,2.076,2.061,5.4,-0.7,NaN,2.104,2.144,2.152,2.3,0.4

In [ ]:
# Drop 2 empty columns

bls_arf_df.drop(columns=['unnamed:_1', 'unnamed:_7'], axis=1, inplace=True)
bls_arf_df.head()

,item_and_unit,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,percent_change_from_nov_2024,west_dec_2023_price,west_nov_2024_price,west_dec_2024_price,west_percent_change_from_dec_2023,percent_change_from_nov_2024.1
0,"Ground beef, per lb. (453.6 gm)",5.566,5.874,5.863,5.3,-0.2,5.755,5.916,5.886,2.3,-0.5
1,"Bacon, sliced, per lb. (453.6 gm)",6.774,6.843,6.915,2.1,1.1,6.920,7.465,7.300,5.5,-2.2
2,"All Pork Chops, per lb. (453.6 gm)",4.256,4.430,4.308,1.2,-2.8,4.730,4.672,4.542,-4.0,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",5.497,5.630,5.458,-0.7,-3.1,5.378,5.717,5.624,4.6,-1.6
4,"Chicken, fresh, whole, per lb. (453.6 gm)",1.955,2.076,2.061,5.4,-0.7,2.104,2.144,2.152,2.3,0.4

In [ ]:
# I don't think I care about just the West region, if I can't compare it to other regions

bls_arf_df.drop(columns=bls_arf_df.columns[bls_arf_df.columns.str.contains('west', case=False)], inplace=True)
bls_arf_df.head()

,item_and_unit,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,percent_change_from_nov_2024,percent_change_from_nov_2024.1
0,"Ground beef, per lb. (453.6 gm)",5.566,5.874,5.863,5.3,-0.2,-0.5
1,"Bacon, sliced, per lb. (453.6 gm)",6.774,6.843,6.915,2.1,1.1,-2.2
2,"All Pork Chops, per lb. (453.6 gm)",4.256,4.430,4.308,1.2,-2.8,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",5.497,5.630,5.458,-0.7,-3.1,-1.6
4,"Chicken, fresh, whole, per lb. (453.6 gm)",1.955,2.076,2.061,5.4,-0.7,0.4

In [ ]:
# One column has a duplicate

bls_arf_df.drop('percent_change_from_nov_2024.1', axis=1, inplace=True)
bls_arf_df.head()

,item_and_unit,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,percent_change_from_nov_2024
0,"Ground beef, per lb. (453.6 gm)",5.566,5.874,5.863,5.3,-0.2
1,"Bacon, sliced, per lb. (453.6 gm)",6.774,6.843,6.915,2.1,1.1
2,"All Pork Chops, per lb. (453.6 gm)",4.256,4.430,4.308,1.2,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",5.497,5.630,5.458,-0.7,-3.1
4,"Chicken, fresh, whole, per lb. (453.6 gm)",1.955,2.076,2.061,5.4,-0.7

In [ ]:
# Rename the 'item_and_unit' column to be able to serve as a foreign key

bls_arf_df.rename(columns={'item_and_unit': 'product'}, inplace=True)
bls_arf_df.head()

,product,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,percent_change_from_nov_2024
0,"Ground beef, per lb. (453.6 gm)",5.566,5.874,5.863,5.3,-0.2
1,"Bacon, sliced, per lb. (453.6 gm)",6.774,6.843,6.915,2.1,1.1
2,"All Pork Chops, per lb. (453.6 gm)",4.256,4.430,4.308,1.2,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",5.497,5.630,5.458,-0.7,-3.1
4,"Chicken, fresh, whole, per lb. (453.6 gm)",1.955,2.076,2.061,5.4,-0.7

In [84]:
# Correct name of 'percent_change_from_nov_2024' column

bls_arf_df.rename(columns={'percent_change_from_nov_2024': 'us_percent_change_from_nov_2024'}, inplace=True)
bls_arf_df.head()

,product,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,us_percent_change_from_nov_2024
0,"Ground beef, per lb. (453.6 gm)",5.566,5.874,5.863,5.3,-0.2
1,"Bacon, sliced, per lb. (453.6 gm)",6.774,6.843,6.915,2.1,1.1
2,"All Pork Chops, per lb. (453.6 gm)",4.256,4.430,4.308,1.2,-2.8
3,"Ham, boneless, excluding canned, per lb. (453....",5.497,5.630,5.458,-0.7,-3.1
4,"Chicken, fresh, whole, per lb. (453.6 gm)",1.955,2.076,2.061,5.4,-0.7

In [88]:
# Normalize product names

bls_arf_df['product'].unique().tolist()

# Remove unwanted parts (and handle "All Pork Chops")
cleaned_products = [
    re.sub(r',.*$', '', product).replace('All ', '') if 'Pork Chops' in product else re.sub(r',.*$', '', product)
    for product in bls_arf_df['product']
]

# Apply the cleaned products back to the DataFrame
bls_arf_df['product'] = cleaned_products
bls_arf_df.head()

,product,us_dec_2023_price,us_nov_2024_price,us_dec_2024_price,us_percent_change_from_dec_2023,us_percent_change_from_nov_2024
0,Ground beef,5.566,5.874,5.863,5.3,-0.2
1,Bacon,6.774,6.843,6.915,2.1,1.1
2,Pork Chops,4.256,4.430,4.308,1.2,-2.8
3,Ham,5.497,5.630,5.458,-0.7,-3.1
4,Chicken,1.955,2.076,2.061,5.4,-0.7

In [89]:
# Export cleaned dataframe to csv

bls_arf_df.to_csv('bls_arf_final.csv')